---
// TaskCard.astro
// import type { Task } from '../lib/TaskList';
import type { Status } from '../lib/TaskList';
// import Modal from './Modal.astro';

interface Props {
  status: Status;
}

const { status } = Astro.props;
---

<div id={`column`} class="flex flex-col gap-4"></div>

<script>
  import { taskListInstance, statusList } from '../lib/TaskList';

  document.addEventListener('DOMContentLoaded', () => {
    statusList.forEach((status) => {
      const container = document.querySelector(`#column-${status.key}`);
      const taskList = taskListInstance.getTasksByStatus(status);

      taskList.forEach((task) => {
        const taskCard = document.createElement('div');
        taskCard.innerHTML = `
          <div>
            <label for="task-${task.id}" class="cursor-pointer">
              <div class="card bg-white shadow-md">
                <div class="card-body p-4">
                  <div class="flex justify-between items-start">
                    <h2 class="font-bold text-lg text-gray-800 mb-2">${task.title}</h2>
                    <details id="dropdown-${task.id}" class="dropdown">
                      <summary class="btn border-none bg-transparent shadow-none">
                        <i class="fa-solid fa-ellipsis text-black"></i>
                      </summary>
                      <ul class="menu dropdown-content bg-white text-black rounded-box z-1 w-28 p-2 shadow-sm">
                        <li>
                          <button onclick='console.log("Edit button clicked")'>
                            <i class="fa-solid fa-pen"></i>
                            Edit
                          </button>
                        </li>
                        <li>
                          <button onclick='console.log("Delete Button clicked")'>
                            <i class="fa-solid fa-trash"></i>
                            Delete
                          </button>
                        </li>
                      </ul>
                    </details>
                  </div>
                  <p class="text-gray-600 text-sm mb-3">${task.description}</p>
                </div>
              </div>
            </label>
            <input type="checkbox" id="task-${task.id}" class="modal-toggle" />
            <Modal task={task} />
          </div>
        `;
        container?.appendChild(taskCard);
      });
    });
  });

  document.addEventListener('click', function (e) {
    const dropdown = document.getElementById('dropdown');
    if (dropdown && !dropdown.contains(e.target)) {
      dropdown.removeAttribute('open');
    }
  });
</script>
